:root {
  --main-color: #626262;
  --font-header-color: #03a9f4;
}

.header-page .header-menu:hover,
.header-page .header-menu:focus {
  color: var(--font-header-color);
}

body {
  color: var(--main-color);
  font-family: 'Playfair Display';
}

section .head {
  font-family: Ubuntu;
}
